.customNav {
    position: fixed;
    width: 100%;
    background-color: #1f2022 !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;
  }
  
  /* Navigation links */
  .customNav a {
    color: white !important;
    font-size: 22px;
    font-family: 'Oswald';
  }
  .navCTA {
    font-size: 12px;
    background-color: rgb(235, 165, 67);
    border-color: white;
    font-family: 'Oswald';
    font-weight: 900;
  }

  .navCTA:hover {
    
    background-color: rgb(87, 148, 3);
    border-color: white;
   
  }

  /* footer */
  .card-body-contact {
      text-align: center;
  }

  .col-contact {
    width: 30%;
    margin-top: 20px;
  }

  /* Body1 */
 
  .cityRow1{
    padding-top: 50px;
    padding-left: 70px;
  }
  .cities1{
    border: solid;
    border-radius: 20px;
    height: 700px;
    padding-top: 50px;
    background-color:  rgb(225, 233, 232);;
  }
  .city-title{
    text-align: center;
  }
  .Attr1{
    height: 180px;
    border: solid;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    background-color:  rgb(225, 233, 232);;
   margin-left: 100px;
  }
  .Attr1-body{
    border-radius: 20px;
  }
  /* Body 2 */
  .cityRow2{
    padding-top: 50px;
    padding-left: 70px;
  }
  .cities2{
    border: solid;
    border-radius: 20px;
    height: 700px;
    padding-top: 50px;
    background-color:  rgb(225, 233, 232);;
  }
  .city-title{
    text-align: center;
  }
  .Attr2{
    height: 180px;
    border: solid;
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    background-color:  rgb(225, 233, 232);;
    margin-left: 100px;
  }
  .Attr2-body{
    border-radius: 20px;
  }
  /* Body 3*/
  .img1{
    border-radius: 20px;
    height: 300px;
    width: 300px;
    border: solid;
   margin-top: 50px;
   margin-left: 80px;
   background-color:  rgb(225, 233, 232);;
  }
  .img2{
    border-radius: 20px;
    height: 300px;
    width: 300px;
    border: solid;
    margin-top: 50px;
    margin-left: 80px;
    background-color: rgb(225, 233, 232);
  } 
  

  .custom-btn {
    width: 323px;
   }


.jumbo-box {
  background-image: url(./images/hero-image.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin-top: 55px;
  margin-bottom: 55px;
}

.navbar-logo {
  max-width: 100%;
  height: auto;
  width: 150%;
  border-radius: 25px;
}

.description {
  color: white;
}

h1 {
  color: white;
  font-weight: bold;
  
}


.city-text {
  color: white;
  
}


  /* Body 3*/

  .footer-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 0.25rem solid #000000;
  }
  